$btn-bg: #00b70a;

// animations
@keyframes loading {
    0% {
        background: darken($btn-bg, 8%);
    }
    50% {
        background: lighten($btn-bg, 3%);
    }

    100% {
        background: darken($btn-bg, 8%);
    }
}

// vue fade transition
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

// general
html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    background: #f4f9ff;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li:not(:first-child) {
    margin-top: .5rem;
}

.app {
    height: 100vmin;
}

.header {
    text-align: center;
    transform: translateY(35vh);
    transition: .5s;

    .has-results & {
        transform: translateY(8vh);
    }
}

.title {
    margin: 0 0 1.5rem;
}

.btn {
    background: $btn-bg;
    border: none;
    border-radius: 2rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.15rem;
    font-weight: 400;
    letter-spacing: 1px;
    min-width: 21rem;
    padding: 1.2rem 3.8rem;
    transition: .3s;

    &:hover {
        background: darken($btn-bg, 3%);;
    }

    &:focus {
        outline: none;
    }

    &[disabled] {
        pointer-events: none;
    }

    &.loading {
        animation: loading 2s infinite linear;
    }

    .has-results & {
        height: 0;
        opacity: 0;
        transform: translateY(-2.5rem)
    }
}

.venues-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
    opacity: 0;
    padding: 0 1.5rem 1.5rem;
    transform: translateY(35vh);
    transition: .5s;
    
    @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }

    .has-results & {
        transform: translateY(5vh);
        opacity: 1;
    }
}

.venue-card {
    background: #fff;
    border-radius: .5rem;
    box-shadow: 0 13px 27px -5px rgba(#32325d, .25), 0 8px 16px -8px rgba(#000,.3);
    display: flex;
    flex-direction: column;
    font-size: .9rem;
    justify-content: start;
    padding: 2rem;
}

.venue-title {
    margin-top: 0;
}

.venue-address {
    margin: 0 0 1rem;
}

.venue-categories {
    font-size: .8rem;
    margin: auto 0 0;
}
